*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body{
	background: #efefef;
	font-family: 'Arial','Microsoft YaHei';
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.music-box{
	margin: 40px auto;
	width: 380px;
	height: 300px;
	box-shadow: 3px 3px 8px #888;
	border-radius: 10px;
	background: #fff;

}
.music-box .header{
	position: relative;
	height: 200px;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-size:cover;
	background-image: url('http://img.hb.aicdn.com/af7abe4193b143b4da902ef05cd6cf2d1f06f10e17c7a-cggaaB_fw658');
}
.process{
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	color: #fff;
	text-align: center;
	background-color: rgba(0,0,0,0.5);	
}
.process-bar-now{	
	width: 0%;
	height: 100%;
	background: red;
}
.process-bar{
	width: 72%;
	height: 8px;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
.wrap{
	padding: 10px 20px;
}
.infor{
	float: left;
	font-size: 14px;
}
.infor p{
	line-height: 20px;
}
.menu{
	float: right;
}
.menu .iconfont{
	font-size: 25px;
}

.iconfont-music-menu{
	font-size: 12px;
	color: red;
}
.btn{
	margin-top: 10px;
	float: left;
}
.btn .iconfont{
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 22px;
	height: 22px;
	width: 22px;
	background: #555;
	border-radius: 50%;
}
.btn .play-btn,.btn .pause-btn{	
	line-height: 30px;
	margin-right: 5px;
	height: 30px;
	width: 30px;
}
.btn .play-btn{
	display: none;
}
.control{
	float: right;
	margin-top: 12px;
}
.volume-bar{
	display: inline-block;
	width: 100px;
	height: 5px;
	background: #ccc;
}
.volume-bar-now{	
	height: 100%;
	background: red;
}
.volume .iconfont{
	font-size: 14px;
	vertical-align: middle;
}
.volume .icon-volume-off{
	display: none;
}

.channels-list{
	position: relative;
	display: none;
	right: -390px;
	top: 6px;
	height: 280px;	
	width: 180px;
	border: 1px solid #ccc;
	background: #ddd;
	color: #333;	
}
.channels-list ul{
	height: 280px;	
	width: 180px;
	overflow: auto;

}
.channels-list li{
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}
.lyric{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height:180px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	overflow: hidden;
	color: #ddd;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	
}
.lyric>ul{	
	padding: 10px 0;
	text-align: center;
	height: 180px;
	position: relative;
}
.lyric>ul>li{
	 line-height: 30px;
}
.lyric>ul>li.active{
	color: red;
}
.iconfont{
	cursor: pointer;
}